<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Library</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <nav class='sidebar-nav'>
      <a href='/catalog' class="nav-title">
        <h1>Local Library</h1>
      </a>
      
      <div class="nav-links">
        <a href='/catalog/books'>📚 Library</a>
        <a href='/catalog/bookinstances'>📖 Books</a>
        <a href='/catalog/authors'>👤 Authors</a>
        <a href='/catalog/genres'>🎲 Genres</a>
      </div>
      
      <div class="nav-links">
        <a href='/catalog/book/create'>➕ Add Book</a>
        <a href='/catalog/author/create'>➕ Add Author</a>
        <a href='/catalog/genre/create'>➕ Add Genre</a>
      </div>
    </nav>
    
    <main>
      <section>
        <h2><%= title %></h2>

        <form method="post" action="">
          <label for="first_name">
            First Name
            <input type="text" name="first_name" id="first_name" placeholder="Satoshi" value="<% (typeof author === "undefined") ? "" : author.first_name %>">
          </label>

          <label for="family_name">
            Last Name
            <input type="text" name="family_name" id="family_name" placeholder="Yamamoto" value="<% (typeof author === "undefined") ? "" : author.family_name %>">
          </label>

          <label for="date_of_birth">
            Date of Birth
            <input type="date" name="date_of_birth" id="date_of_birth" placeholder="dd/mm/yyyy" value="<% (typeof author === "undefined") ? "" : author.date_of_birth %>">
          </label>

          <label for="date_of_death">
            Date of Death
            <input type="date" name="date_of_death" id="date_of_death" placeholder="dd/mm/yyyy" value="<% (typeof author === "undefined") ? "" : author.date_of_death %>">
          </label>

          <button type="submit" class="btn btn-primary">Submit</button>

          <ul class="error-list">
            <% if (typeof errors !== "undefined" && errors.length > 0) { %>
              <% errors.forEach((error, index) => { %>
                <li class="error-item"><%= error.msg %></li>
              <% }) %>
            <% } %>
          </ul>
        </form>
      </section>
    </main>

    <footer>
      <p>
        &copy;<a href='' target="_blank" class="footer-link">gregolive</a>
      </p>
    </footer>
  </div>
</body>
</html>