@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --white: #EDEDF4;
  --black: #2B2D42;
  --link: #048A81;
  --danger: #A71D31;
  --success: #52CB97;
  --warning: #E0CA3C;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 2.25rem / auto 1fr;
}

nav {
  background: var(--white);
  padding: 2rem calc(2rem + 2vw);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

.nav-title {
  color: var(--black);
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  padding: 2rem calc(2rem + 2vw);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: grid;
  gap: 1rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

ul {
  font-size: 1.1rem;
  margin: 0;
  padding-left: 2rem;
  display: grid;
  gap: 0.4rem;
}

li {
  list-style-type: square;
}

small {
  font-weight: 600;
}

.card-list {
  padding-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  align-self: start;
  display: grid;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.instance-info {
  display: grid;
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.text-warning {
  color: var(--warning);
}

footer {
  color: var(--white);
  background: var(--black);
  font-size: 0.85rem;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  color: var(--white);
  margin-left: 0.25rem;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 2rem calc(1.4rem + 0.8vw);
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template: auto 1fr 2.25rem / 1fr;
  }

  nav {
    padding: 1rem calc(2rem + 5vw);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.5rem;
  }

  .nav-title {
    grid-column: 1 / -1;
    text-align: center;
  }

  h1 {
    font-size: 1.75rem;
  }

  main {
    padding: 1.5rem calc(2rem + 5vw);
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 5vw;
    column-gap: 1rem;
  }

  main {
    padding: 1.5rem 5vw;
  }
}
